# MacOS garbage
.DS_Store

# Malbook test files
test
.malbook
*.zip
src/__init__.py
*.ipynb
.ipynb_checkpoints

# Python garbage
venv
__pycache__
dist
src/malbook.egg-info

# VScode settings/breakpoints/garbage
.vscode